.msg_any {
	border-radius: 5px;
	margin: 3px;
	padding: 3px;

	display: inline-block;

	font-family: Arial, sans-serif;
}

.msg_me {
	border: 3px solid dodgerblue;
	background-color: dodgerblue;
}

.msg_other {
	border: 3px solid darkgray;
	background-color: darkgray;
}

.msg_outer_box_me {
	text-align: right;
	display: flex;
	justify-content: flex-end;
}

.msg_outer_box_other {
	text-align: left;
	display: flex;
	padding-bottom: 10px;
}

.chat_header {
	width: 100%;
	text-align: center;

	font-family: Arial, sans-serif;
}

.chat_root {
	width: 100%;
}
