.sidebar {
	min-width: 120px;
	max-width: 120px;
	height: 100vh;

	font-family: Arial, monospace;

	box-shadow: 3px 0 10px 3px #d7d7d7;
}

.sidebar_chat_container {
	height: 36px;

	border: 2px dashed gray;
	border-radius: 3px;

	white-space: nowrap;
	overflow: hidden;

	display: flex;
}

.search_root {
	width: 15vw;

	padding-top: 20px;
	padding-bottom: 20px;
}

.search_input {
	border: 2px;
	width: calc(15vw - 4px);
}

.sidebar_root {
	border-right: 5px solid gray;
}

.chat_avatar {
	max-width: 36px;
	min-width: 36px;
	max-height: 36px;
	min-height: 36px;
}

.chat_username_container {
	width: 100%;
	height: 100%;
}

.flex_centered {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}
