.sidebar {
	width: 15vw;
	height: calc(100vh - 58px);

	font-family: Arial, monospace;
}

.sidebar_user {
	height: 3rem;

	border: 2px dashed gray;
	border-radius: 3px;

	white-space: nowrap;
	overflow: hidden;
}

.search_root {
	width: 15vw;

	padding-top: 20px;
	padding-bottom: 20px;
}

.search_input {
	border: 2px;
	width: calc(15vw - 4px);
}

.sidebar_root {
	border-right: 5px solid gray;
}
